<div class="container-full">
	<div class="row justify-content-center" style="min-width: 100%;height: 300px;">
		<div class="col-12" id="aboutBanner" style="min-width: 100%;">
			<h1 style="color: white;
					   vertical-align: middle;
					   height: 300px">
				Banner image will go here to fill up some space
			</h1>
		</div>
	</div>
	<div class="row align-items-center justify-content-center" style="margin-top: 10px">
		<div class="col-6">
			<h4 style="color:red; text-align: left">About</h4>
			<h3 style="color:blue; text-align: left">Meet Ryan</h3>
			<p class="aboutText">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ultricies orci quis tincidunt pulvinar. Quisque pulvinar et lorem ac luctus. Aliquam varius fringilla sagittis. Suspendisse venenatis, diam eu placerat volutpat, arcu dui commodo justo, non consequat purus arcu luctus metus. In hac habitasse platea dictumst. Morbi vel augue venenatis, lacinia eros maximus, tincidunt purus. Praesent dictum rutrum turpis. Proin malesuada ante id nunc aliquam egestas. Proin porttitor mi blandit sapien cursus, ac dapibus arcu maximus. Morbi ac vestibulum neque. Duis consectetur, purus id pretium congue, risus sem consequat justo, fringilla commodo erat ligula et risus. Sed quis consequat felis. Pellentesque faucibus tincidunt ipsum sed facilisis. Fusce cursus pellentesque nibh, in dictum justo ultrices vitae. Fusce vulputate tincidunt tortor et aliquam.
			</p>
			<p class="aboutText">
				Praesent sollicitudin mauris et magna porta, non iaculis enim pretium. Fusce porttitor, sapien porta mattis dictum, ex ex gravida diam, nec viverra felis nisl in tortor. Phasellus pretium cursus velit at rhoncus. Ut a risus aliquet, placerat dui eget, molestie risus. Morbi vitae velit lorem. Vivamus ac risus turpis. Nunc maximus pulvinar iaculis. Nullam tincidunt dignissim odio sit amet tincidunt. Vestibulum convallis ut diam nec varius. Donec vehicula, libero non aliquam mattis, felis ipsum venenatis erat, id bibendum nisi mauris et augue. Suspendisse nec odio nibh. Fusce dictum nisl sed nunc vehicula efficitur laoreet id velit. Maecenas nunc nibh, vulputate in mi at, egestas porttitor felis.
			</p>
			<p class="aboutText">
				Morbi finibus eget tellus vitae finibus. Nulla consequat tellus id leo dapibus, ac posuere erat bibendum. Pellentesque venenatis consequat enim non placerat. Phasellus dapibus elit at odio convallis elementum. Mauris orci justo, ornare id scelerisque sed, eleifend in eros. Sed quam nibh, malesuada a tristique in, pretium faucibus nisi. Phasellus molestie lectus quis cursus commodo. Morbi tempus leo erat, sit amet mollis erat scelerisque ut. Sed vitae magna mauris. Praesent sed urna vitae turpis faucibus auctor in eget erat. Maecenas quam ligula, viverra id enim non, consequat viverra lectus. Nulla pharetra fringilla turpis. Quisque id euismod tortor. Nulla tincidunt suscipit libero non mollis. Quisque dignissim rhoncus dui vel ultricies. Nulla semper in libero ac scelerisque.
			</p>
			<p class="aboutText">
				Fusce eu felis in nisi auctor iaculis. Donec urna nisl, bibendum sit amet dui sed, vulputate pulvinar turpis. Nullam quis sapien tortor. Morbi vitae diam at dui posuere ultrices. Aliquam quis lacus egestas ex pulvinar tempor eget vitae felis. Phasellus imperdiet iaculis nisi at bibendum. Fusce ultrices mi vel ipsum commodo tristique ut at magna. Aliquam luctus nisi erat, in sodales eros elementum in. Nulla eu tellus in turpis ullamcorper eleifend et et metus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vivamus placerat, mi in vulputate venenatis, purus ante vehicula felis, eget tempor elit elit vitae ligula. Etiam quis sapien auctor est tristique sagittis eu vitae nisl. Curabitur sit amet pulvinar nisl, at blandit nibh. Nullam non nisi vitae odio tempor accumsan id ac turpis.
			</p>
		</div>
		<div class="col-4 offset-md-2" id="headshot">
			<div class="row">
				<h3 style="color:white;vertical-align: middle;">
					Headshot of Ryan can go here
				</h3>
			</div>
			<div class="row">
				<h3 style="color:white;vertical-align: middle;">
					Text can wrap around image if we want
				</h3>
			</div>
			<div class="row">
				<h3 style="color:white;vertical-align: middle;">
					TODO: Talk to Seun about font for website
				</h3>
			</div>
			<div class="row">
				<h3 style="color:white;vertical-align: middle;">
					Option: narrower column w/ text wrapping image. See: https://berniesanders.com/about/
				</h3>
			</div>
		</div>
	</div>
</div>