<div class="container-full">
	<div class="row justify-content-center" style="min-width: 100%;height: 300px;">
		<div class="col-12" id="issueBanner" style="min-width: 100%;">
			<h1 style="color: white;
					   vertical-align: middle;
					   height: 300px">
				Banner image related to issue/candidate will go here to fill up some space
			</h1>
		</div>
	</div>
	<div class="row align-items-center justify-content-center" style="margin-top: 10px">
		<div class="col-8">
			<div *ngIf="isEconomicDevelopment">
				<h1 class="issueHeader">Equitable Economic Development</h1>
				<p  class="issueBody">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ultricies orci quis tincidunt pulvinar. Quisque pulvinar et lorem ac luctus. Aliquam varius fringilla sagittis. Suspendisse venenatis, diam eu placerat volutpat, arcu dui commodo justo, non consequat purus arcu luctus metus. In hac habitasse platea dictumst. Morbi vel augue venenatis, lacinia eros maximus, tincidunt purus. Praesent dictum rutrum turpis. Proin malesuada ante id nunc aliquam egestas. Proin porttitor mi blandit sapien cursus, ac dapibus arcu maximus. Morbi ac vestibulum neque. Duis consectetur, purus id pretium congue, risus sem consequat justo, fringilla commodo erat ligula et risus. Sed quis consequat felis. Pellentesque faucibus tincidunt ipsum sed facilisis. Fusce cursus pellentesque nibh, in dictum justo ultrices vitae. Fusce vulputate tincidunt tortor et aliquam.
				</p>
			</div>
			<div *ngIf="isCriminalJustice">
				<h1 class="issueHeader">Criminal Justice Reform</h1>
				<p  class="issueBody">
					Praesent sollicitudin mauris et magna porta, non iaculis enim pretium. Fusce porttitor, sapien porta mattis dictum, ex ex gravida diam, nec viverra felis nisl in tortor. Phasellus pretium cursus velit at rhoncus. Ut a risus aliquet, placerat dui eget, molestie risus. Morbi vitae velit lorem. Vivamus ac risus turpis. Nunc maximus pulvinar iaculis. Nullam tincidunt dignissim odio sit amet tincidunt. Vestibulum convallis ut diam nec varius. Donec vehicula, libero non aliquam mattis, felis ipsum venenatis erat, id bibendum nisi mauris et augue. Suspendisse nec odio nibh. Fusce dictum nisl sed nunc vehicula efficitur laoreet id velit. Maecenas nunc nibh, vulputate in mi at, egestas porttitor felis.
				</p>
			</div>
			<div *ngIf="isLandManagement">
				<h1 class="issueHeader">Grassroots Land Management</h1>
				<p  class="issueBody">
					Morbi finibus eget tellus vitae finibus. Nulla consequat tellus id leo dapibus, ac posuere erat bibendum. Pellentesque venenatis consequat enim non placerat. Phasellus dapibus elit at odio convallis elementum. Mauris orci justo, ornare id scelerisque sed, eleifend in eros. Sed quam nibh, malesuada a tristique in, pretium faucibus nisi. Phasellus molestie lectus quis cursus commodo. Morbi tempus leo erat, sit amet mollis erat scelerisque ut. Sed vitae magna mauris. Praesent sed urna vitae turpis faucibus auctor in eget erat. Maecenas quam ligula, viverra id enim non, consequat viverra lectus. Nulla pharetra fringilla turpis. Quisque id euismod tortor. Nulla tincidunt suscipit libero non mollis. Quisque dignissim rhoncus dui vel ultricies. Nulla semper in libero ac scelerisque.
				</p>
			</div>
		</div>
	</div>
</div>